.details {
  width: 100%;
  height: auto;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
  }

  &__img {
    border-radius: 20px;
    height: 400px;
    width: 400px;
    box-shadow: 10px 10px 10px grey;
  }

  &__desc {
    margin-top: 50px;
    width: 900px;
    text-align: center;
    border: 3px solid grey;
    padding: 10px;
    border-radius: 20px;
  }

  &__button {
    width: 100px;
    height: 40px;
    background-color: pink;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__fedOrNot {
    padding-bottom: 30px;
  }

  &__moreInfo {
    text-align: center;
    border: 3px solid grey;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}
